@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:linear-gradient(to bottom, #6d6df2,#ffffff );
   
}

.top {
    background-color: #7d7df4; 
}

.top{
    height: 90%;

}

h1{
    margin: 30px;
    color: #fff;
    font-size: 60px;
    font-weight: 800;    
 } 
.header{
    display: flex;
     height: 100%;
     text-align: center;
    padding: 10px;
    
 }  

.logo img{
    width: 17%;
    top: 0;
    }

.navegar {
     font-weight: 600;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    float: right;
    font-size: 30px;


}

.navegar a {
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 10px;
    border: 5px solid white;

}

.navegar a:hover{
    transition: .3s;
    background: rgb(49, 250, 166);
}


ul a {
   
    margin: 25px;
     padding: 10px;
    text-transform: none;
    color: black;


}

section {
    padding: 54px 0;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    font-size: 30px;
    margin-top: -30px;
    color: #0e0e0e;
}

h4{
    margin: 30px;
    color: #fff;
    font-size: 25px;
}

.containervk{
    margin: 30px;
    padding: 20px;
    display: flex;
    margin-top: 10px;
    font-size: 10px;
}

.containervk img{
    margin-top: 50px;
    width: 90%;
    height: 90%;
    animation: animate 4s linear infinite;
}

@keyframes animate{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

.containervk p{
    font-size: 20px;
    margin: 10px;
    gap: 10px;
    font-weight: 500;
    margin-top: 20px;
    font-family: sans-serif;
}

.containervk h2{
    font-weight: 800;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 10px;
}

.pilar{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.integri{
    color: rgb(241, 98, 47);
}

.confide{
    color: #0404ff;
}

.disnibli{
    color: blueviolet;
}




.banner p {
    margin: 30px;
    font-size: 20px;
    margin-top: 30px;
    text-align: left;
    color: #fff;    
}

.container {
    display: flex;
    justify-content: center;
}

.card {
    margin: 30px;
    width: 300px;
    height: 500px;
    border-radius: 15px;
    margin-top: 5px;
    background-color: rgb(48, 48, 155);
}

.imagem {
    display: flex;
    justify-content: center;
}

.mar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px;
}

.texto-main {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    font-family: sans-serif;
}

.desk {
    font-family: sans-serif;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 15px;
}



    